%p#notice= notice

%p
  %b Name:
  = resource.name
%p
  %b Location:
  = resource.location
%p
  %b Desc:
  = resource.desc

%p
  %b Users:
  = resource.users.count

%table
  %tr
    %th= t('user.email')
    %th= t('user.balance')
  - resource.users.each do |user|
    %tr
      %td= link_to user.email, user
      %td= number_to_currency(user.balance(resource))
      %td= link_to t('add'), new_group_transaction_path(resource)

= link_to 'Edit', edit_group_path(resource)
\|
= link_to 'Back', groups_path
