%p#notice= notice

%p
  %b Name:
  = @group.name
%p
  %b Location:
  = @group.location
%p
  %b Desc:
  = @group.desc

%p
  %b Users:
  = @group.users.count
%ul
  - @group.users.each do |user|
    %li
      = link_to user.email, user

= link_to 'Edit', edit_group_path(@group)
\|
= link_to 'Back', groups_path
